body {
  font-family: "opensans", "Arial", "Serif";
  color: #000000;
  width: 100%;
  margin: 0; }

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "opensansbold";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

.page-header__wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.page-header {
  background-color: #c43d3d;
  min-height: 120px;
  max-height: 120px; }

.page-header__logo {
  background-color: #993333;
  max-height: 120px; }
  .page-header__logo img {
    padding: 30px; }

.page-header__nav {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
  display: flex;
  align-items: stretch; }

.page-header__search-tab {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-top: 5px; }

.page-header__search--open {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff;
  width: 376px;
  height: 30px;
  cursor: text;
  padding-bottom: 5px;
  align-self: baseline;
  display: none; }

.page-header__search--open:focus {
  outline: none;
  color: #ffffff; }

.page-header__search--open-show {
  display: flex; }

.page-header__menu--open {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  min-width: 585px;
  max-width: 585px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none; }
  .page-header__menu--open ul {
    margin: 0;
    padding: 0;
    margin-top: 160px;
    margin-left: 70px; }
  .page-header__menu--open li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 75px; }
  .page-header__menu--open li:last-child {
    margin-bottom: 80px; }
  .page-header__menu--open a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 16px; }
  .page-header__menu--open a:hover {
    color: #c43d3d; }
  .page-header__menu--open button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 40px;
    right: 170px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-color: #ffffff; }
  .page-header__menu--open button:focus {
    outline: none; }
  .page-header__menu--open button:before,
  .page-header__menu--open button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 25px;
    height: 3px;
    background-color: #000000;
    border-radius: 1px; }
  .page-header__menu--open button:before {
    transform: rotate(45deg); }
  .page-header__menu--open button:after {
    transform: rotate(-45deg); }

.page-header__menu--open-show {
  display: flex; }

.page-header__menu--close {
  margin-bottom: 10px;
  margin-left: 60px;
  position: relative; }

.page-header__menu--close:before {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #b23030;
  border-radius: 1px;
  transform: rotate(90deg);
  right: 43px;
  top: 15px;
  position: absolute; }

::-webkit-input-placeholder {
  color: #ffffff; }

::-moz-placeholder {
  color: #ffffff; }

:-moz-placeholder {
  color: #ffffff; }

:-ms-input-placeholder {
  color: #ffffff; }

.about-photo__wrapper {
  width: 1200px;
  margin: 0 auto;
  min-width: 1200px;
  min-height: 401px;
  background-image: url("../img/office.jpg");
  background-repeat: no-repeat; }

.about-us__wrapper {
  width: 1200px;
  margin: 0 auto; }
  .about-us__wrapper h2 {
    font-size: 28px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px; }
  .about-us__wrapper p {
    font-size: 18px;
    line-height: 24px;
    margin-left: 210px;
    margin-right: 220px;
    color: #9a9a9a; }

.about-us__title:after {
  content: "";
  display: block;
  margin: auto;
  margin-top: -20px;
  width: 70px;
  height: 4px;
  background-color: #e8e8e8;
  border-radius: 1px; }

.differences__wrapper {
  width: 1200px;
  margin: 0 auto; }
  .differences__wrapper h2 {
    font-size: 28px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px; }
  .differences__wrapper p {
    font-size: 18px;
    line-height: 24px;
    margin-left: 210px;
    margin-right: 220px;
    color: #9a9a9a; }

.differences__title:after {
  content: "";
  display: block;
  margin: auto;
  margin-top: -20px;
  width: 70px;
  height: 4px;
  background-color: #e8e8e8;
  border-radius: 1px; }

.differences__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.differences__item {
  display: flex;
  flex-direction: column;
  min-width: 335px;
  max-width: 335px;
  padding-top: 100px; }
  .differences__item b {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 24px; }
  .differences__item b:before {
    content: "";
    display: block;
    width: 54px;
    height: 49px;
    background-position: -10px -10px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    padding-bottom: 40px; }
  .differences__item p {
    margin: 0;
    padding-bottom: 50px;
    font-size: 18px;
    line-height: 24px;
    color: #9a9a9a; }
  .differences__item p:after {
    content: "";
    display: block;
    margin-top: 40px;
    width: 70px;
    height: 4px;
    background-color: #e8e8e8;
    border-radius: 1px; }

.differences__item:nth-child(2) b:before {
  content: "";
  display: block;
  width: 75px;
  height: 49px;
  background-position: -84px -10px;
  background-image: url("../img/spritesheet.png"); }

.differences__item:nth-child(3) b:before {
  content: "";
  display: block;
  width: 74px;
  height: 49px;
  background-position: -179px -10px;
  background-image: url("../img/spritesheet.png"); }

.clients__wrapper {
  width: 1200px;
  margin: 0 auto; }
  .clients__wrapper h2 {
    font-size: 28px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px; }

.clients__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 70px; }

.clients__title:after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 70px;
  height: 4px;
  background-color: #e8e8e8;
  border-radius: 1px; }

.quality__wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px; }
  .quality__wrapper h2 {
    font-size: 28px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    min-width: 560px;
    max-width: 560px; }
  .quality__wrapper p {
    font-size: 18px;
    line-height: 24px;
    margin-left: 210px;
    margin-right: 220px;
    color: #9a9a9a; }

.quality__title:after {
  content: "";
  display: block;
  margin: auto;
  margin-top: -30px;
  width: 70px;
  height: 4px;
  background-color: #e8e8e8;
  border-radius: 1px; }

.questions__wrapper {
  width: 1200px;
  margin: 0 auto; }

.questions {
  background-color: #c43d3d;
  min-height: 430px;
  max-height: 430px; }
  .questions h2 {
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 100px; }
  .questions input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    height: 30px;
    width: 400px;
    color: #ffffff;
    margin-bottom: 40px;
    cursor: text; }
  .questions input:focus {
    outline: none; }
  .questions textarea {
    background-color: transparent;
    min-width: 400px;
    max-width: 400px;
    color: #ffffff;
    border: 0;
    border-bottom: 1px solid #ffffff;
    cursor: text;
    font-family: inherit;
    min-height: 175px;
    max-height: 175px; }
  .questions textarea:focus {
    outline: none; }
  .questions button {
    height: 60px;
    width: 160px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #ffffff;
    text-align: left;
    position: relative; }
  .questions button:focus {
    outline: none; }
  .questions button:after {
    content: "";
    display: block;
    width: 57px;
    height: 37px;
    background-position: -273px -10px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 75px; }

.questions__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px; }
  .questions__form ::-webkit-input-placeholder {
    text-transform: uppercase; }
  .questions__form ::-moz-placeholder {
    text-transform: uppercase; }
  .questions__form :-moz-placeholder {
    text-transform: uppercase; }
  .questions__form :-ms-input-placeholder {
    text-transform: uppercase; }
  .questions__form div {
    display: flex;
    flex-direction: column; }
    .questions__form div ::-webkit-input-placeholder {
      text-transform: uppercase; }
    .questions__form div ::-moz-placeholder {
      text-transform: uppercase; }
    .questions__form div :-moz-placeholder {
      text-transform: uppercase; }
    .questions__form div :-ms-input-placeholder {
      text-transform: uppercase; }

.questions__title:after {
  content: "";
  display: block;
  margin-top: -60px;
  width: 70px;
  height: 4px;
  background-color: #e8e8e8;
  border-radius: 1px; }

.page-footer__wrapper {
  width: 1200px;
  margin: 0 auto;
  min-height: 135px;
  max-height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.page-footer__circles {
  display: flex;
  flex-direction: row;
  align-self: center; }

.page-footer__circle {
  width: 35px;
  height: 35px;
  background-color: #cfcfcf;
  border-radius: 50%;
  margin-right: 10px; }

.page-footer__copyright {
  display: flex;
  align-self: center; }
  .page-footer__copyright span {
    margin-top: 20px;
    font-size: 12px;
    line-height: 16px; }

.catalog-photo__wrapper {
  width: 1200px;
  margin: 0 auto;
  min-width: 1200px;
  min-height: 401px;
  background-image: url("../img/catalog.jpg");
  background-repeat: no-repeat;
  margin-bottom: 100px; }

.catalog__wrapper {
  width: 1200px;
  margin: 0 auto; }
  .catalog__wrapper h2 {
    font-size: 28px;
    line-height: 16px;
    text-transform: uppercase;
    padding-bottom: 140px;
    margin: auto;
    margin-top: 0;
    max-width: 980px;
    text-align: center; }

.catalog__title:after {
  content: "";
  display: block;
  margin: auto;
  margin-top: -110px;
  width: 70px;
  height: 4px;
  background-color: #e8e8e8;
  border-radius: 1px; }

.catalog__items {
  max-width: 979px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-top: 1px solid #e8e8e8;
  padding-top: 60px;
  margin-top: 80px; }

.catalog__item {
  max-width: 979px;
  display: flex;
  flex-direction: row; }

.catalog__photos {
  line-height: 0;
  width: 490px; }

.catalog__description {
  width: 490px;
  padding-left: 60px; }
  .catalog__description h3 {
    color: #000000;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-top: 110px; }
  .catalog__description h3:hover {
    color: #e33b3b; }
  .catalog__description p {
    font-size: 18px;
    line-height: 24px;
    color: #9a9a9a;
    margin-top: 40px;
    max-width: 330px; }
  .catalog__description p:after {
    content: "";
    display: block;
    margin-top: 30px;
    width: 70px;
    height: 4px;
    background-color: #e8e8e8;
    border-radius: 1px; }
  .catalog__description ul {
    margin: 0;
    padding: 0;
    margin-top: 60px; }
  .catalog__description li {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px; }
  .catalog__description li:hover {
    color: #e33b3b; }
  .catalog__description li:before {
    content: "- "; }
  .catalog__description li:hover:before {
    color: #e33b3b; }

.catalog__item:nth-child(2n) h3 {
  margin-top: 60px; }

.brand-wrapper {
  width: 1200px;
  margin: 0 auto; }
  .brand-wrapper h2 {
    font-size: 28px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 120px; }

.brand__title:after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 70px;
  height: 4px;
  background-color: #e8e8e8;
  border-radius: 1px; }

.brand__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 300px;
  min-width: 980px;
  max-width: 980px;
  box-sizing: content-box;
  margin-top: 80px; }

.brand__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 300px;
  max-width: 300px;
  min-height: 200px;
  max-height: 200px; }
  .brand__item img {
    border: 1px solid #f7f7f7;
    padding-top: 40px;
    padding-bottom: 38px;
    padding-left: 55px;
    padding-right: 55px; }
  .brand__item span {
    margin-top: 30px; }

.brand__item:nth-child(2) img {
  padding-top: 50px;
  padding-bottom: 53px;
  padding-left: 67px;
  padding-right: 67px; }

.brand__item:nth-child(3) img {
  padding-top: 55px;
  padding-bottom: 62px;
  padding-left: 50px;
  padding-right: 50px; }
