.clients__wrapper {
  @include container;
    h2 {
      font-size: 28px;
      line-height: 16px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 100px;
      // padding-bottom: 100px;
  }
}

.clients__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 70px;
}
.clients__title:after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 70px;
  height: 4px;
  background-color: #e8e8e8;
  border-radius: 1px;
}
