.clients__wrapper {
  @include container;
    h2 {
      font-size: 28px;
      line-height: 16px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 50px;
  }
}

.clients__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
